
 <center><H1>LIST OF CLIPS:</H1><br><center>

<% @clips.each do |clip| %>
Added at: <%= clip.created_at %>
<center><iframe width="560" height="315" src= <%= modifyURL(clip.URL) %> frameborder="0" allowfullscreen></iframe></center>
<% end %>

<%= will_paginate @clips %>

