<div class = "form">
<div class = "field">
<%= form_tag(clips_search_results_path, method: "get") do %>
<%= label_tag(:phrase, "Search for: ") %><br>
<%= text_field_tag(:phrase) %><br><br>
<%= submit_tag("Search") %>
<% end%>
</div>
</div> 