body {
	background-image: url("banner.png");
	color: white;
	padding-top: 100px;
}

.vcenter {
	background-image: url("pattern-ftjz.png");
	vertical-align: middle;
	font-size: 17px;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.login {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
	color: #909090; 
	font-size: 17px;
}

.form {
	padding-left: 20px;

}

.clip {
	background-image: url("pattern-872s.png");
	width: 80%;
	margin: 0 auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	text-align: center;
	font-size: 18px;
	border: 1px solid #000033;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	}

.videoWrapper {
	position: center;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: center;
	top: 0;
	left: 0;
	width: 85%;
	height: 85%;
}

.field {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	color: #909090;
	font-size: 15px;
}

.actions {
	padding-bottom: 1.0em;
	padding-top: 1.0em;
	color: black;	
}

.back {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 95%;
	margin: 0 auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/*YouTube Responsive */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.logo {
	font-size: 24px;
}

.added {
	font-style: italic;
	text-align: right;
	font-size: 15px;
}

.author {
	font-style: bold;
	text-align: right;
	font-size: 15px;
}

.clip-vote {
	text-align: center;
	color: #606060;
}

.favorites {
	text-align: center;
	color: #606060;
}

.clip a:link {
	color: white;
}

.clip a:visited {
	color: white;
}

/* unvisited link */
a:link {
    color: #606060;
}

/* visited link */
a:visited {
    color: #606060;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.name {
	width: 100%;
	text-align: left;
	text-decoration: bold;
	font-size: 18px;
}

.favorites {
	float: left;
	width: 40%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.friends {
	float: right;
	width: 60%;
	height: 30%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.category {
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;

}